<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./CSS/home.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">HOME</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/service">SERVICE</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">CONTACT US</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
<div id="ser">
    <p>DPSA Tunisie: UNE SURVEILLANCE PAR AGENTS EN POSTE DIFFÉRENTE ET SUR-MESURE</p>
    <p>Notre mission est de prévenir l’ensemble des risques en entreprise, préserver les biens et les personnes avec des hommes disponibles, formés aux savoir-faire techniques et aux savoir-être indispensables qu’exige aujourd’hui un métier sensible.</p>
    <p>DPSA Tunisie met en œuvre à Tunis des solutions de surveillance humaine sur-mesure et à forte valeur ajoutée après analyse précise des risques et vulnérabilités de votre site :</p>
    <span>Sûreté</span><br><br><span>Filtrage / contrôle d’accès</span>
</div>
<div id="ser2">
    <p>UNE GAMME COMPLÈTE DE PRESTATIONS HAUT DE GAMME POUR LES ENTREPRISES TUNISIENNES</p>
    <p>Depuis la création de notre agence de sécurité il y a plus de 40 ans, l’entreprise  a développé un ensemble d’expertises en sécurité privée et gardiennage en Tunisie, aujourd’hui reconnues.</p>
    <p>Ainsi, nos agents de sécurité bénéficient d’un savoir-faire spécifique pour assurer la sécurité des sièges sociaux, des maisons et des boutiques de luxe , pour lesquels une vigilance de tous les instants est de mise. </p>
    <p> De même, le gardiennage des musées fait partie de nos savoir-faire reconnus. Il s’agit de sites sensibles, pour lesquels la sécurité incendie, notre cœur d’expertise, est d’une importance primordiale. Le contrôle d’accès, la surveillance de jour comme de nuit sont également pris en charge par nos équipes.</p>
    <p>Nos agents sont compétents pour réaliser des missions de surveillance humaine (sûreté, filtrage, contrôle d’accès, ronde …etc.), de gardiennage des sites sensibles tels des sites industriels, des lieux exposés aux risques terroristes, SEVESO ou classés, Datacenter,… et de sécurité événementielle lors de manifestations ou événements tunisiens.</p>
    <ul>
        <li>Sécurité
        sièges sociaux</li>
        <li>Surveillance
            humaine</li>
            <li>Surveillance
                humaine</li>
                <li>Sécurité maisons
                    de Luxe
                    </li>
                    <li>Gardiennage
                        musées</li>
                        <li>Gardiennage
                            musées</li>
                            <li>Sécurité
                                événementielle</li>
                                <li>Sécurité
                                    datacenters</li>
    </ul>
</div>
    
</body>
</html>