body{
    gap: 30px;
    background-color: black;
}
.navbar {
    background-color: gray;
    display: flex;
    justify-content: space-around;
    font-size: xx-large;
    color: white;
}
#img1 {
    width: 750px; 
    height: 500px;
    margin-top: 40px;
}
#image1{
    text-align:center
}
#p1{
text-align: center;
color: gray;
width: 900px;
margin-left: 217px;
}
#p2{
    font-weight: bold;
    font-size:x-large;
    color: white;
    text-align: center;
    height: 68px;
    margin-top: 20px;
}
#p3{
    color: white;
    text-align: center;
    font-size: medium;
    
}
#pfinal{
   
    width: 500px;
    background-color: gray;
    height: 250px;
    gap: 20px;
    border-radius: 3%;
}
#img2{
    width: 600px;
}
#pp{
    display: flex;
    justify-content: space-around;
}
#discription{
    color: antiquewhite;
    width: 600px;
    height: 500px;
    background-color: gray;
    gap: 15px;
    margin-top: 50px;
    border-radius: 3%;
}
#p4{
    font-weight: bold;
    font-size:x-large;
    color: white;
    text-align: center;
    height: 68px;
}
#p5{
    font-weight: bold;
    text-align: center;
}
#p6{
    text-align: center;
}
span{
    text-decoration:underline;
    text-align: center;
    margin-left: 120px;
    
}
#disc{
    display: flex;
    justify-content: space-around;
}
#img3{
    border-radius: 3%;
    margin-top: 50px;
    width: 720px;
    height: 500px;
}
#ser{
    color: gray;
    text-align:center;
    gap: 30px;
}
#ser2{
    margin-top: 5%;
    color: gray;
    text-align:center;
    gap: 50px;
}
#cont{
    color: black;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20%;
}
.logo{
    width: 60px;
}
#formulaire{
    margin-top: 5%;
    gap: 30px;
    width: 500px;
    margin-left:500px ;
}